Repository dotkom/onlineweb-frontend, pull requests merged in 2019-04, with the labels that each got.

#213 Fix for issue #212
  src/events/components/ImageView/SmallEvent.tsx
  src/events/components/ImageView/image.less
  src/events/components/ImageView/index.tsx
Labels: Type: Bug

#233 Enforce 'no-any' rule for TypeScript
  src/articles/api/index.ts
  src/career/api/index.ts
  src/career/components/JobListItem.tsx
  src/common/components/Panes/FourSplitPane.tsx
  src/common/components/Panes/SplitPane.tsx
  src/common/providers/Prefetched.tsx
  src/common/utils/PrefetchState.ts
  src/common/utils/api.ts
  src/common/utils/prefetch.tsx
  src/common/utils/queryString.ts
  src/common/utils/requestCache.ts
  src/contribution/api/repositories.tsx
  src/contribution/components/LanguageSubBar.tsx
  src/contribution/components/RepositoryList.tsx
  src/contribution/models/Language.ts
  src/core/index.tsx
  src/core/providers/Cookies.tsx
  src/events/api/events.ts
  src/events/models/Event.ts
  src/frontpage/api/offline.ts
  src/hobbygroups/api/index.ts
  src/index.tsx
  src/profile/api/index.ts
  src/profile/api/notifications.ts
  src/profile/api/penalties.ts
  src/profile/api/privacy.ts
  src/profile/api/search.ts
  src/profile/components/MainMenu.tsx
  src/profile/components/Settings/index.tsx
  src/profile/components/Statistics/index.tsx
  src/profile/index.tsx
  src/profile/models/SpecialPosition.ts
  src/profile/models/User.ts
  src/resources/api/index.ts
  tslint.json
Labels: Priority: High, Type: Code Quality, Type: Refactor

#234 Clean up types from the olden days
  src/career/api/index.ts
  src/career/models/Career.ts
  src/career/providers/CareerProvider.tsx
  src/core/models/Company.ts
  src/core/models/User.ts
  src/events/api/events.ts
  src/events/components/CalendarView/CalendarHoverCard.tsx
  src/events/components/CalendarView/CalendarTile.tsx
  src/events/components/CalendarView/index.tsx
  src/events/components/DetailView/Contact.tsx
  src/events/components/DetailView/InfoBox.tsx
  src/events/components/DetailView/PictureCard.tsx
  src/events/components/DetailView/Registation.tsx
  src/events/components/ImageView/EventColumn.tsx
  src/events/components/ImageView/LargeEvent.tsx
  src/events/components/ImageView/SmallEvent.tsx
  src/events/components/ImageView/index.tsx
  src/events/components/ListView/ListEvent.tsx
  src/events/components/ListView/index.tsx
  src/events/hooks/useEventsRepoState.ts
  src/events/models/Attendee.ts
  src/events/models/Event.ts
  src/events/utils/calendarUtils.ts
  src/events/utils/isOngoing.ts
  src/profile/components/Statistics/Events/CompanyDonut.tsx
  src/profile/components/Statistics/Events/EventTypeDonut.tsx
  src/profile/components/Statistics/Events/index.tsx
  src/profile/models/Penalty.ts
Labels: Easy, Priority: Low, Type: Code Quality, Type: Enhancement, Type: Refactor

#218 Add endless scrolling to user search in profile
  src/common/hooks/useIntersection.ts
  src/profile/api/search.ts
  src/profile/components/Search/ProfileSmall.tsx
  src/profile/components/Search/Users.tsx
  src/profile/providers/SearchFilter.tsx
Labels: App: Profile, Type: Enhancement, Type: Refactor

#237 Make inputs more reusable
  src/common/components/Forms/DateRangeInput/datePicker.less
  src/common/components/Forms/DateRangeInput/index.tsx
  src/common/components/Forms/SearchInput/index.tsx
  src/common/components/Forms/SearchInput/search.less
  src/common/components/Forms/SelectMultiple/index.tsx
  src/common/components/Forms/SelectMultiple/select.less
  src/common/constants/intl.ts
  src/events/components/SearchModule/SelectEventTypes.tsx
  src/events/components/SearchModule/SelectMultiple.tsx
  src/events/components/SearchModule/index.tsx
  src/events/components/SearchModule/search.less
  src/profile/components/Search/Searchbar.tsx
  src/profile/components/Search/search.less
Labels: App: Common, App: Events, App: Profile, Priority: High, Type: Enhancement, Type: Refactor

#238 Rename IImage to ResponsiveImage
  src/articles/models/Article.ts
  src/common/components/ResponsiveImage/index.tsx
  src/common/models/ResponsiveImage.ts
  src/core/models/Company.ts
  src/events/components/EventImage.tsx
  src/events/models/Event.ts
  src/profile/models/Orders.ts
Labels: App: Common, Easy, Priority: Low, Type: Code Quality, Type: Refactor

#235 Remove legacy method binds
  src/contribution/components/LanguageSubBar.tsx
  src/core/components/Header/index.tsx
Labels: App: Career, App: Core, Easy, Priority: Low, Type: Code Quality, good first issue

#244 Responsive Responsive Images
  src/career/components/JobDetails.tsx
  src/career/components/JobListItem.tsx
  src/common/components/ResponsiveImage/index.tsx
  src/common/hooks/useBoundingRect.ts
  src/common/models/ResponsiveImage.ts
  src/events/components/DetailView/PictureCard.tsx
  src/events/components/EventImage.tsx
  src/frontpage/components/Articles/MainArticle.tsx
  src/frontpage/components/Articles/SmallArticle.tsx
Labels: App: Common, Priority: Low, Type: Enhancement
